# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual environment
# =========================
venv/
.venv/
env/

# =========================
# VS Code
# =========================
.vscode/
*.code-workspace

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary / generated arrays
# =========================
*.npy

# =========================
# Temporary result folders
# =========================
results/

# =========================
# Keep these files in Git
# =========================
# *.keras       <-- DO NOT IGNORE
# *.pkl         <-- DO NOT IGNORE